a {
   color: #fff;
}

body {
   background-color: #121212;
   color: #fff;
   font: 15px Arial;
}

.box {
   background-color: #333;
   border: 1px solid #444;
   box-shadow: 0px 0px 10px #222;
}

#main {
   margin: 20px auto;
   min-width: 600px;
   width: 95%;
   max-width: 1000px;
}

#infoBox {
   clear: left;
    margin: 30px auto;
    min-width: 600px;
    width: 100%;
    max-width: 1000px;
    display: inline-block;
}

#info {
   float: left;
   width: 50%;
}

#infoBox p, #infoBox h1 {
   padding: 0px 10px;
} 


#infoBox p {
   font-size: 20px;
   width: auto;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
} 



#ad {
   width:45%;
   margin: 10px;
   float: right;
}

#canvas {
   float: left;
}

#canvasGUI {
   float: left;
}